
  <!--SIDEBAR-->
  <aside id="sidebar" class="sidebar" data-state="close">
    <div id="manage-bar" class="manage-bar clearfix">
      <a href="#" id="burger-btn" data-state="close" class="btn icon icon-menu"></a>
      <input type="text" id="search-input" class="search hidden"/>
      <a href="#" id="btn-add-success" class="btn icon icon-add" data-btn-type="add"></a>
      <a href="#" id="btn-add-delete" class="btn icon icon-delete"></a>
    </div>
    <ul id="place-list" class="place-list">
      <!--place list-->
    </ul>
  </aside>

  <!--MAIN BLOCK-->
  <main id="dashboard" class="content flexslider">
    <ul id="dashboard-slider" class="slides"></ul>
    <!--Dashboard-->
  </main>